.idea/*
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
Server/**/*.class
CompiledServer/*
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
**/.idea/*
*.class
CompiledServer/
*.class
Server/gradle/
Server/build/
Server/.gradle/
Client/gradle/
Client/build/
Client/.gradle/
